.about-image {
    background-image: none;
}

.about-desc {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background-color: rgb(55, 75, 74, 0.6);
    padding: 30% 5px;
    line-height: 1.6;
    /* height: 100%; */
}

.about-container {
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    border-radius: 10px;
}

.about-page {
    background-color: rgb(40, 67, 30, 0.85);
    padding: 2rem;
    color: inherit;
}

@media screen and (min-width: 768px) {
    .about-container {
        background-image: none;
        display: flex;
        margin: 3rem 3rem;
        border: 2px var(--coolGrey) solid;
        background-color: rgb(40, 67, 30, 0.85);
    }
    .about-desc {
        font-size: 24px;
        padding: 6rem 3rem;
        font-weight: 300;
        margin: 0;
        width: 70%;
        background-color: rgb(55, 75, 74);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .about-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 30%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
