.project-card {
    border: 2px solid #fb8400;
    margin: 8px 0;
}

h3 {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .project-card {
        flex: 1 1 40%;
        margin: 8px;
    }
}
.photo {
    position: relative;
    z-index: -4;
    width: 500px;
    height: 200px;
    border: 1px solid var(--testing);

    border-radius: 10px;
}
.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-height: 100%;
    width: 50%;
}
.project-header {
    margin: 0 auto 1rem 1rem;
}
.tech-list {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    padding: 0;
}

.tech-list li {
    list-style: none;
}

.front-box {
    backdrop-filter: blur(2px);
    height: 100px;
    width: 400px;
    margin: auto 0;
    border: 1px solid var(--introBlue);
    background-color: transparent;
    transform: translateX(100vw);
    z-index: -1;
    border-radius: 10px;
    transition: 1.2s;
}

.front-box.animate {
    transform: translateX(-30px);
    backdrop-filter: blur(0);
}

.back-box.animate {
    transform: translate(-15px, -121px);
    padding: 0;
}

.back-box {
    z-index: -2;
    transform: translate(-30px, -130px);
    padding: 0 10px 0 0;
    background-color: rgb(18, 77, 165, 0.5);
    height: 120px;
    position: relative;
}
.project {
    display: flex;
    align-items: center;
    height: 300px;
    margin: 12rem 0;
}
